flashboard/client/.actionScriptProperties
flashboard/client/.flexProperties
flashboard/client/.project
flashboard/client/.settings/
flashboard/client/bin-debug/
flashboard/client/bin-release/
flashboard/client/html-template/
